html {
    background-color: rgb(192,192,192);
}

body {
    border-radius: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 30px;
    margin-bottom:100px;
    padding:40px;
    
    background-color:rgb(255,255,255);
    font-family: book antiqua, sans-serif;

    line-height: 18pt;

    color: black;
}


h1, h2, h3, h4 {
    color:rgb(0,150,0);
}

header nav {
    font-size: 130%;
    float: right;
    color:rgb(50,150,50);
}

header h1 {
    font-size: 220%
}

img.x {
    border-radius: 8px;
    border: 1px solid #aaa;
    width: 200px;
    display: inline;
    float:right;
    margin: 50px;
}

p.email {
    font-size: 90%;
    color: rgb(50,150,50);
    text-indent: 0px;
    letter-spacing: 2px;
}

span.title {
    font-weight: bold;
}

span.author {
    font-style: italic;
}

span.venue {
    font-style: oblique;
}

.footer { 
    padding-top: 30px;
    color:rgb(50,150,50);
    font-size: 10pt;
}